.sidebar{
    width: 50px;
    top: 65;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding-top: 65;
}
header {
    background-color: darkgray;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    color: white;
  }
nav {
    background-color: grey;
    padding: 5px;
    text-align: left;
    font-size: 15px;
    color: white;
  }
section{
    display: flex;
    flex-direction: column;
    background-color:lightgrey;
    color: black;
    padding: 10px;
    flex: wrap;
    margin-left: 60px;
}
article{
    flex: 100px;
}
footer{
    background-color: lightgray;
    padding: 2px;
    text-align: left;
    font-size: 12px;
}