html{
    background-color: grey;
}
next {
    font-size: smaller;
}
table{
    width: 1200px;
}
Event {
    border: black;
}
table, th, td {
    border: 1px solid black;
  }
.dec {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}
.Event {
    font-weight: bold;
}